<%= form_with(model: package, local: true) do |form| %>
  <% if package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
        <% package.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tracking_number %>
    <%= form.text_field :tracking_number %>
  </div>

  <div class="field">
    <%= form.label :delivery_status %>
    <%= form.check_box :delivery_status %>
  </div>

  <div class="field">
    <%= form.label :courier_id %>
    <%= form.text_field :courier_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
