<li id="<%= dom_id(package)%>">
  <%= check_box_tag dom_id(package, "checkbox"), 1, package.delivery_status?, data: { remote: true, url: toggle_package_path(package), 
    method: :post } %>
    <%= link_to package.name, package_path(package) %>
 
    <span class="package-list__package-controls">
    <%= link_to 'Edit', edit_package_path(package) %>
    <%= link_to 'Delete', package_path(package), method: :delete, remote: true, data: { confirm: 'Are you really-really sure?'}, class: 'delete_package' %> 
</li>
