<p id="notice"><%= notice %></p>

<h1>Packages</h1>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Tracking Number</th>
      <th>Delivery Status</th>
      <th>Courier ID</th>
     
    </tr>
  </thead>

  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.name %></td>
        <td><%= package.tracking_number %></td>
        <td><%= package.delivery_status %></td>
        <td><%= package.courier_id %></td>
        <td><%= link_to 'Show', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Package', new_package_path %>
