<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package.name %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @package.tracking_number %>
</p>

<p>
  <strong>Delivery status:</strong>
  <%= @package.delivery_status %>
</p>

<p>
  <strong>Courier:</strong>
  <%= @package.courier_id %>
</p>

<%= link_to 'Edit', edit_package_path(@package) %> |
<%= link_to 'Back', @courier %>
