$("#<%= dom_id(@package) %>").remove();

<% if @package.delivery_status? %>
  $("[data-placeholder=completed_packages][data-courier-id=<%= @package.courier_id %>]").append("<%= escape_javascript(render "package", package: @package) %>");
<% else %>
  $("[data-placeholder=uncompleted_packages][data-courier-id=<%= @package.courier_id %>]").append("<%= escape_javascript(render "package", package: @package) %>");
<% end %>