<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @courier.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @courier.email %>
</p>

<%= link_to 'Edit', edit_courier_path(@courier) %> |
<%= link_to 'Back', couriers_path %>

<p>
  <strong>New Package</strong>
  <%= form_with model: @package do |f| %>
			<%= f.hidden_field :courier_id, :value => @courier.id %>
			<%= f.text_field :name, placeholder: "What are we delivering, buddy?", autocomplete: :off, required: true, 
				data: { placeholder: :new_package_input, "courier-id": @courier.id } %>
			<%= f.submit "Add Package", render: courier_path(@courier), remote: true %>		
	<% end %>
</p>

<p>
  <div class="package-list package-list--uncompleted">
		<ul id="packages" style="list-style-type:none" data-placeholder="uncompleted_packages" data-courier-id="<%= @courier.id %>">
			<%= render @courier.packages.uncompleted %>
		</ul>
	</div>
</p>

<p>
	<div class="package-list package-list--completed">
		<ul id="packages-completed" style="list-style-type:none" data-placeholder="completed_packages" data-courier-id="<%= @courier.id %>">
			<%= render @courier.packages.completed %>
		</ul>
	</div>
</p>